

/* body affects the entire webpage */




@font-face {
    font-family: 'Pixel';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
}

body {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: #ffffb2;
    font-family: 'Pixel', sans-serif;

}


/* # is used to call an id, when you use a class to define something you would simple use ".nameofdiv" */

#save_load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    
    
}

#reset_save{
    padding: 10px 10px;
    background-color: #d7b550;
    color: #000000;
    font-weight: 600;
    cursor: pointer; 
}

#save {
    padding: 10px 10px;
    background-color: #90d59c;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    
}

#load {
    padding: 10px 10px;
    background-color: #68a8ab;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    
}

#container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

#container h3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#budgetdisplay {
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#budgetdisplay_adv {
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#budgets_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #90d59c;
    margin-top: 10px;
    border: 4px solid #2a242b;
}

#monthly_budgetdisplay_adv{
    font-weight: 500;
    font-size: 25px;
}
#table_container {
    display: table;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #cc7048;
    padding: 10px 10px;
    border: 4px solid #2a242b;
    

}

#table th{
    font-size: 40px;
    
    
}

#table td{
    margin-left: 10px;
    padding: 10px 10px;
    
}

#button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

#submit {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 165px;
    background-color: #68a8ab;
    color: #fff;
    cursor: pointer;
    
}


#add_delete {
    display: flex;
}
#addrow{
    display: flex;
    padding: 10px 63px;
    background-color: #90d59c;
    color: #fff;
    cursor: pointer;
 
}

#deleterow {
    display: flex;
    padding: 10px 58px;
    background-color: #cc5348;
    color: #fff;
    cursor: pointer;
}

#resetrows {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 154px;
    background-color: #d7b550;
    color: #fff;
    cursor: pointer;
}

#category_1, #category_2, #category_3, #category_4, #category_5, #category_6 {
    font-family: inherit;
}

#category_percentage_1,#category_percentage_2,#category_percentage_3,#category_percentage_4,#category_percentage_5,#category_percentage_6{
    font-family: inherit;
}

#budget_header  {
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #775b5b;
    color: #fff;
    border: 4px solid #2a242b;
}


#spending {
    display: flex;
    flex-direction: column;
    font-family: inherit;
}

#spending_inputs, input {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: inherit;
}

#budget_categories {
    display: flex;
    flex-direction: column;
}



#final_budget {
    font-weight: 350;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #fff;
}

#final_budget div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Budget_options {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 2px solid #2a242b;
}

#reset_spendings, #submit_spendings, #next_month {
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 12px;
}

#reset_spendings {
    background-color: #d7b550;
    color: #fff;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

#submit_spendings {
    background-color: #90d59c;
    color: #fff;
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

#next_month {
    background-color: #68a8ab;
    color: #fff;
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

#input, button {
    font-family: inherit;
}
